.probar{
    width: 300px;
    height: 800px;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    border-color: black;
    margin:  5px;


}
.des{

    height: 300px;
    border: 1px;
}
.btn{
    margin-top: 50px;
}

